.has-shadow-new {
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

}
.navbar-burger1 {
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger1 span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-duration: 86ms;
          transition-duration: 86ms;
  -webkit-transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, transform;
  transition-property: background-color, opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  width: 16px;
}

.navbar-burger1 span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger1 span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger1 span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger1:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-burger1.is-active span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

.navbar-burger1.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger1.is-active span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
}
